body {
  margin: 0;
  font-family: 'Open Sans', 'Roboto', Arial, Helvetica, sans-serif;
  max-width: 100%;
  width: 100%;
  overflow: auto; }

/* VARS */
/* SITECONTAINERS CSS PROPERTIES */
.indexsitecontainer,
.menusitecontainer,
.cartsitecontainer,
.staffsitecontainer,
.contactsitecontainer {
  width: 100%;
  height: auto; }

/* SPRITESHEET PROPERTIES */
#Hawaiibg {
  background: url("./../img/pizzas_sprites.png") -10px -10px; }

#Kebabbg {
  background: url("./../img/pizzas_sprites.png") -230px -10px; }

#Margheritabg {
  background: url("./../img/pizzas_sprites.png") -10px -230px; }

#Pepperonibg {
  background: url("./../img/pizzas_sprites.png") -230px -230px; }

#Prosciuttobg {
  background: url("./../img/pizzas_sprites.png") -450px -10px; }

#Vegitarianbg {
  background: url("./../img/pizzas_sprites.png") -450px -230px; }

/* STANDARD HEADER PROPERTIES */
header {
  height: 67px;
  width: 100%;
  background-color: #000000;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr; }

/* HEADER HAMBURGER MENU CSS PROPERTIES */
.headerhamburgertogglemenu {
  display: none; }

i.fa-bars {
  font-size: 32px;
  border: 2px solid #ffc107;
  margin: 0;
  padding: 5px 7px;
  color: #ffffff; }

/* WHEN HAMBURGER MENU IS TOOGLED */
.hamburgeractive {
  border-color: #ffffff !important;
  color: #ffc107 !important; }

/* HEADER LOGO CSS PROPERTIES */
.headerlogobox {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  align-content: center;
  justify-content: center; }

.headerlogobox a {
  text-decoration: none; }

.headerlogotext {
  font-family: 'Tangerine', 'Sacramento', 'Bungee', 'Open Sans', cursive, sans-serif;
  font-size: 42px;
  font-weight: 700;
  font-style: italic;
  color: #ffc107;
  margin: 0; }

/* NAVIGATION CSS PROPERTIES */
nav {
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  height: inherit;
  font-family: 'Bungee', sans-serif; }

.navigationbox {
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: inherit; }

.navigationlist {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.navigationlist a {
  text-decoration: none;
  cursor: pointer;
  transition: all 1s ease-in;
  color: #ffffff; }

.navlistitem {
  float: left;
  text-transform: uppercase;
  margin: 0;
  font-size: 24px;
  color: #ffffff;
  padding: 0px 15px;
  cursor: pointer;
  text-shadow: 2px 2px #00000059; }

.navlistitem:hover {
  color: #ffc107; }

/* MAIN ELEMENT CSS PROPERTIES */
main {
  margin: 0;
  padding: 0;
  width: 100%; }

/* INDEX FILE CSS PROPERTIES */
/* INDEX FILE MAIN ELEMENT CSS PROPERTIES */
.indexmaincontainer {
  width: 100%;
  height: auto;
  display: grid;
  min-height: inherit;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* background: $black; */
  /* background-image: url("./../../og_files/charcoal_planks_og.jpg"); */
  background-repeat: no-repeat;
  background-size: cover; }

.indexmainspecialpricebox {
  /* background-color: hotpink; */
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.indexmainwehowworkherebox {
  /* background-color: forestgreen; */
  grid-column: 2 / 4;
  grid-row: 1 / 2; }

.indexmainopentimesbox {
  /* background-color: crimson; */
  grid-column: 1 / 2;
  grid-row: 2 / 3; }

.indexmainreviewsbox {
  /* background-color: darkturquoise; */
  grid-column: 2 / 4;
  grid-row: 2 / 3; }

/* MENU FILE CSS PROPERTIES */
/* MENU MAIN ELEMENT CSS PROPERTIES */
.menumaincontainer {
  width: 100%;
  height: auto;
  min-height: inherit; }

.menumaincontainerbox {
  display: grid;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: inherit;
  margin: 0; }

/* MENU ITEMS CSS PROPERTIES */
.menuitembox {
  width: 60vw;
  height: 250px;
  background-color: #f1f1f1;
  box-shadow: 5px 5px 10px #00000059;
  display: grid;
  margin: 50px 0px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr); }

.menuitemimagepricebox {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  border-right: 2px solid #00000059; }

.menuitemimagebox {
  grid-column: 1 / 2;
  grid-row: 1 / 6;
  display: grid;
  align-content: center;
  justify-content: center; }

.menuitemimage {
  max-width: 200px;
  max-height: 200px;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover; }

.menuitempricebox {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
  display: grid;
  align-content: center;
  text-align: center;
  justify-content: center; }

.menuitemprice {
  margin: 0;
  font-family: 'Bungee', 'Open sans', sans-serif;
  color: #000000; }

.menuitemprice .lineoverprice {
  text-decoration: line-through;
  text-decoration-color: #000000;
  text-decoration-style: double;
  color: #00000059; }

.menuitemprice .specialpriceactiv {
  color: #ffc107; }

.menuiteminfobox {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  align-content: center;
  justify-content: center; }

.menuiteminfonamebox {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center; }

.menuiteminfoname {
  margin: 0;
  color: #000000;
  font-style: italic;
  font-size: 32px; }

.menuiteminfoinfobox {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  display: grid;
  justify-content: center;
  align-content: center; }

.menuiteminfoinfo {
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 16px;
  margin: 0px 15px; }

.menuiteminfoaddbox {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  display: grid;
  align-content: center;
  justify-content: center; }

.menuiteminfoadd {
  background-color: #000000;
  padding: 10px 50px;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0;
  font-size: 20px; }

.menuiteminfoadd:hover {
  color: #ffc107; }

/* STAFF FILE CSS PROPERTIES */
.staffmaincontainer {
  width: 100%;
  height: auto;
  min-height: inherit;
  display: flex;
  justify-content: left;
  flex-wrap: wrap; }

.staffitembox {
  width: 225px;
  height: 250px;
  overflow: hidden;
  margin: 15px;
  border: 10px solid #f1f1f1;
  border-radius: 25px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.5s linear; }

.staffitembox:hover {
  transition: opacity 0.5s linear;
  opacity: 1; }

.staffitemimageholder {
  width: 100%;
  height: 100%;
  background-image: url("http://cristaltokio.3dn.ru/_ph/8/2/198764709.gif?1509129063");
  background-size: cover;
  background-repeat: no-repeat; }

/* CART FILE CSS PROPERTIES */
/* CART OVERLAY PROPERTIES */
.cartoverlaycontainer {
  width: 100%;
  height: 100%;
  min-height: inherit;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: none; }

.cartoverlaycontentbox {
  display: grid;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.cartoverlayinfobox {
  text-align: center;
  display: grid;
  align-content: center;
  justify-content: center; }

.cartoverlayinfo {
  margin: 0;
  font-family: 'Tangerine', 'Sacramento', 'Bungee', 'Open Sans', cursive, sans-serif;
  font-size: 200px;
  color: #ffc107;
  text-shadow: 5px 5px 10px #00000059;
  margin-bottom: 50px; }

.cartoverlaynavigationbox {
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center; }

.cartoverlaynavigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 4px solid #000000;
  font-family: 'Bungee', sans-serif;
  background-color: rgba(0, 0, 0, 0.5); }

.cartoverlaynavigation a {
  text-decoration: none;
  cursor: pointer;
  transition: all 1s ease-in;
  color: #ffffff; }

.cartoverlaynavigationitem {
  float: left;
  text-transform: uppercase;
  margin: 0;
  font-size: 24px;
  color: #ffffff;
  padding: 0px 15px;
  cursor: pointer; }

.cartoverlaynavigationitem:hover {
  color: #ffc107; }

/* CART MAIN ELEMENT CSS PROPERTIES */
/* CART CONTENT UNDER OVERLAY */
.cartmaincontainer {
  width: 100%;
  height: auto;
  min-height: inherit;
  display: grid;
  justify-content: center;
  align-content: center; }

.cartitembox {
  width: 80vw;
  height: 225px;
  margin: 20px 0px;
  background-color: #f1f1f1;
  box-shadow: 5px 5px 10px #00000059;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(10, 1fr); }

.cartitemimagebox {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: grid;
  align-content: center;
  justify-content: center;
  border-right: 2px solid #00000059; }

.cartitemimage {
  width: 200px;
  height: 200px;
  max-width: 200px;
  max-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  animation: pizzaRotate 5s linear infinite; }

.cartiteminfobox {
  grid-column: 3 / 7;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  border-right: 2px solid #00000059; }

.cartiteminfonamebox,
.cartiteminfoinfobox,
.cartiteminfopricebox {
  grid-column: 1 / 2;
  display: grid;
  align-content: center;
  justify-content: center; }

.cartiteminfonamebox {
  grid-row: 1 / 2; }

.cartiteminfoname {
  color: #000000;
  margin: 0;
  font-family: 'Open sans', sans-serif;
  font-style: italic;
  font-size: 32px; }

.cartiteminfoinfobox {
  grid-row: 2 / 4; }

.cartiteminfoinfo {
  margin: 0;
  color: #00000080;
  font-weight: 600;
  font-size: 18px;
  margin: 0px 15px; }

.cartiteminfopricebox {
  grid-row: 4 / 5; }

.cartiteminfoprice {
  margin: 0;
  font-size: 22px;
  color: #000000;
  font-family: 'Bungee', 'Open sans', sans-serif; }

.cartitemquantitybox {
  grid-column: 7 / 8;
  grid-row: 1 / 2;
  display: grid;
  align-content: center;
  justify-content: center; }

.cartitemquantity {
  margin: 0;
  color: #00000059;
  font-size: 24px;
  font-family: 'Bungee', sans-serif;
  text-shadow: 2px 2px #ffffff; }

.cartitemtotalbox {
  grid-column: 8 / 10;
  grid-row: 1 / 2;
  display: grid;
  align-content: center;
  justify-content: center; }

.cartitemtotal {
  margin: 0;
  color: #000000;
  font-size: 24px;
  font-family: 'Bungee', sans-serif;
  text-shadow: 2px 2px #ffffff; }

.cartitemremovebox {
  grid-column: 10 / 11;
  grid-row: 1 / 2;
  display: grid;
  align-content: center;
  justify-content: center; }

.cartitemremove {
  margin: 0;
  color: #ffc107;
  font-size: 32px;
  font-family: 'Bungee', 'Open Sans', sans-serif;
  text-shadow: 2px 2px #ffffff; }

.cartfinalcontainer {
  width: 80vw;
  height: 120px;
  display: grid;
  justify-content: right; }

.cartfinalbox {
  width: 400px;
  height: 100%;
  background-color: #f1f1f1;
  box-shadow: 5px 5px 10px #00000059;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr); }

.cartfinalgrandbox,
.cartfinaltoorderbox {
  grid-column: 1 / 2;
  display: grid;
  justify-content: center;
  align-content: center; }

.cartfinalgrandbox {
  grid-row: 1 / 2; }

.cartfinalgrand {
  margin: 0;
  color: #000000;
  font-size: 22px;
  font-family: 'Bungee', sans-serif;
  text-shadow: 2px 2px #ffffff; }

.cartfinaltoorderbox {
  grid-row: 2 / 3; }

.cartfinaltoorder {
  margin: 0;
  background-color: #000000;
  border: 2px solid #ffc107;
  color: #ffffff;
  font-family: 'Open sans', sans-serif;
  padding: 5px 30px;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer; }

/* MEDIA QUERIES CSS PROPERTIES */
@media screen and (max-width: 1250px) {
  header {
    grid-template-columns: repeat(3, 1fr); }

  nav {
    grid-column: 2 / 4; }

  .menuitembox {
    width: 70vw; }

  .cartitembox {
    width: 90vw;
    grid-template-columns: repeat(12, 1fr); }

  .cartitemimagebox {
    grid-column: 1 / 4; }

  .cartiteminfobox {
    grid-column: 4 / 8; }

  .cartiteminfoinfo {
    font-size: 16px; }

  .cartitemquantitybox {
    grid-column: 8 / 9; }

  .cartitemtotalbox {
    grid-column: 9 / 12; }

  .cartitemtotal {
    font-size: 20px; }

  .cartitemremovebox {
    grid-column: 12 / 13; }

  .cartfinalcontainer {
    width: 90vw; }

  .cartiteminfoprice {
    font-size: 20px; } }
@media screen and (max-width: 915px) {
  .menuitembox {
    width: 90vw; } }
@media screen and (max-width: 880px) {
  header {
    grid-template-columns: repeat(5, 1fr);
    min-height: 67px;
    height: auto;
    border-bottom: 2px solid #ffc107; }

  .headerhamburgertogglemenu {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-content: center;
    justify-content: center;
    height: 67px; }

  .headerlogobox {
    grid-column: 2 / 5;
    justify-content: center; }

  .headerlogotext {
    font-size: 48px; }

  nav {
    display: none;
    height: auto;
    /* text-align: center; */
    background-color: #000000;
    width: 100%;
    grid-column: 1 / 6;
    grid-row: auto;
    border-top: 2px solid #ffc107; }

  .navlistitem {
    margin: 10px 0px; }

  .cartoverlayinfo {
    font-size: 155px; }

  .cartmaincontainer {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(8, 1fr);
    display: grid;
    justify-content: center; }

  .cartitembox {
    width: 250px;
    height: 620px;
    align-self: center;
    justify-self: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(14, 1fr);
    overflow: hidden;
    margin: 0; }

  #cartitembox1 {
    /* display: none; */
    grid-column: 2 / 5;
    grid-row: 1 / 2; }

  #cartitembox2 {
    /* display: none; */
    grid-column: 5 / 8;
    grid-row: 1 / 2; }

  .cartitemimagebox {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    border-right: 0;
    border-bottom: 2px solid #00000059; }

  .cartiteminfobox {
    grid-column: 1 / 2;
    grid-row: 6 / 12;
    border-right: 0;
    border-bottom: 2px solid #00000059; }

  .cartiteminfoname {
    font-size: 26px; }

  .cartitemquantitybox {
    grid-column: 1 / 2;
    grid-row: 12 / 13; }

  .cartitemtotalbox {
    grid-column: 1 / 2;
    grid-row: 13 / 14; }

  .cartitemremovebox {
    grid-column: 1 / 2;
    grid-row: 14 / 15; }

  .cartiteminfoname,
  .cartiteminfoinfo,
  .cartiteminfoprice,
  .cartitemquantity,
  .cartitemtotal,
  .cartitemremove {
    font-family: 'Open sans', sans-serif; }

  .cartfinalcontainer {
    display: none; } }
@media screen and (max-width: 715px) {
  .cartoverlayinfo {
    font-size: 125px; }

  .menuitembox {
    margin: 15px 0px;
    width: 60vw;
    height: 85vh;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr; }

  .menuitemimagepricebox {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border-right: 0;
    border-bottom: 2px solid #00000059;
    grid-template-rows: repeat(5, 1fr); }

  .menuitemimagebox {
    grid-column: 1 / 2;
    grid-row: 1 / 5; }

  .menuitempricebox {
    grid-column: 1 / 2;
    grid-row: 5 / 6; }

  .menuitemprice {
    font-size: 22px; }

  .menuiteminfobox {
    grid-column: 1 / 2;
    grid-row: 3 / 5; }

  .menuiteminfoinfo {
    font-size: 14px; } }
@media screen and (max-width: 588px) {
  /* HEADER MOBILE QUERIE */
  .headerlogobox {
    grid-column: 2 / 6;
    justify-content: left; }

  .navlistitem {
    float: none;
    padding: 0px; }

  /* INDEX MOBILE QUERIE */
  .indexmaincontainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background: none; }

  .indexmainspecialpricebox {
    height: 375.2px;
    width: 100%; }

  .indexmainwehowworkherebox {
    height: 250px;
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 2 / 3; }

  .indexmainopentimesbox {
    display: none; }

  .indexmainreviewsbox {
    height: 500px;
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 3 / 4; }

  /* MENU ITEM BOX MOBILE QUERIE */
  .menuitembox {
    margin: 15px 0px;
    width: 65vw;
    height: 85vh;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr; }

  /* STAFF FILE MOBILE QUERIE */
  .staffmaincontainer {
    justify-content: center; }

  /* CART MOBILE QUERIE */
  /*.cartoverlaycontainer {
      display: block;
  }*/
  .cartoverlayinfo {
    font-size: 80px;
    margin-bottom: 25px; }

  .cartmaincontainer {
    display: none; }

  .cartoverlaynavigationitem {
    float: none;
    padding: 0px 25px; } }
@media screen and (max-width: 450px) {
  .menuitembox {
    width: 90vw; } }
@media screen and (max-width: 370px) {
  .headerlogotext {
    font-size: 42px; }

  .navlistitem {
    font-size: 20px; }

  /* CART SMALL QUERIE */
  .cartoverlayinfo {
    font-size: 64px; }

  .cartoverlaynavigationitem {
    font-size: 20px; }

  .menuitembox {
    margin: 15px 0px;
    height: 80vh;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: 1fr; }

  .menuitemimagepricebox {
    grid-row: 1 / 5; }

  .menuitemprice {
    font-size: 18px; }

  .menuiteminfobox {
    grid-row: 5 / 8; }

  .menuiteminfoname {
    font-size: 28px; }

  .menuiteminfoinfo {
    font-size: 12px; }

  .menuiteminfoadd {
    font-size: 18px;
    padding: 10px 25px; } }
