#Hawaiibg {background: url('./../img/pizzas_sprites.png') -10px -10px;}

#Kebabbg {background: url('./../img/pizzas_sprites.png') -230px -10px;}

#Margheritabg {background: url('./../img/pizzas_sprites.png') -10px -230px;}

#Pepperonibg {background: url('./../img/pizzas_sprites.png') -230px -230px;}

#Prosciuttobg {background: url('./../img/pizzas_sprites.png') -450px -10px;}

#Vegitarianbg {background: url('./../img/pizzas_sprites.png') -450px -230px;}

// #staffimageCT {background: url();}

// #staffimageRR {background: url();}

// #staffimageCV {background: url();}

// #staffimageSSA {background: url();}

// #staffimageEQ {background: url();}