/* MEDIA QUERIES CSS PROPERTIES */

@media screen and (max-width:1250px) {
    header {
        grid-template-columns: repeat(3, 1fr);
    }

    nav {
        grid-column: 2 / 4;
    }

    .menuitembox {
        width: 70vw;
    }

    .cartitembox {
        width: 90vw;
        grid-template-columns: repeat(12, 1fr);
    }

    .cartitemimagebox {
        grid-column: 1 / 4;
    }

    .cartiteminfobox {
        grid-column: 4 / 8;
    }

    .cartiteminfoinfo {
        font-size: 16px;
    }

    .cartitemquantitybox {
        grid-column: 8 / 9;
    }

    .cartitemtotalbox {
        grid-column: 9 / 12;
    }

    .cartitemtotal {
        font-size: 20px;
    }

    .cartitemremovebox {
        grid-column: 12 / 13;
    }

    .cartfinalcontainer {
        width: 90vw;
    }

    .cartiteminfoprice {
        font-size: 20px;
    }
}

@media screen and (max-width:915px) {
    .menuitembox {
        width: 90vw;
    }
}

@media screen and (max-width:880px) {
    header {
        grid-template-columns: repeat(5, 1fr);
        min-height: 67px;
        height: auto;
        border-bottom: 2px solid #ffc107;
    }

    .headerhamburgertogglemenu{
        display: grid;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-content: center;
        justify-content: center;
        height: 67px;
    }

    .headerlogobox {
        grid-column: 2 / 5;
        justify-content: center;
    }

    .headerlogotext {
        font-size: 48px;
    }

    nav {
        display: none;
        height: auto;
        /* text-align: center; */
        background-color: $black;
        width: 100%;
        grid-column: 1 / 6;
        grid-row: auto;
        border-top: 2px solid #ffc107;
    }

    .navlistitem {
        margin: 10px 0px;
    }

    .contactmaincontainer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }

    .contactmainopentimesadressbox {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .contactmainmapbox {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        height: auto;
    }

    .contactgooglemap {
        margin: 25px 0px;
    }

    .staffitembox {
        opacity: 1;
    }

    .cartoverlayinfo {
        font-size: 155px;
    }

    .cartmaincontainer {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(8, 1fr);
        display: grid;
        justify-content: center;
    }

    .cartitembox {
        width: 250px;
        height: 620px;
        align-self: center;
        justify-self: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(14, 1fr);
        overflow: hidden;
        margin: 0;
    }

    #cartitembox1 {
        /* display: none; */
        grid-column: 2 / 5;
        grid-row: 1 / 2;
    }

    #cartitembox2 {
        /* display: none; */
        grid-column: 5 / 8;
        grid-row: 1 / 2;
    }

    .cartitemimagebox {
        grid-column: 1 / 2;
        grid-row: 1 / 6;
        border-right: 0;
        border-bottom: 2px solid #00000059;
    }

    .cartiteminfobox {
        grid-column: 1 / 2;
        grid-row: 6 / 12;
        border-right: 0;
        border-bottom: 2px solid #00000059;
    }

    .cartiteminfoname {
        font-size: 26px;
    }

    .cartitemquantitybox {
        grid-column: 1 / 2;
        grid-row: 12 / 13;
    }

    .cartitemtotalbox {
        grid-column: 1 / 2;
        grid-row: 13 / 14;
    }

    .cartitemremovebox {
        grid-column: 1 / 2;
        grid-row: 14 / 15;
    }

    .cartiteminfoname,
    .cartiteminfoinfo,
    .cartiteminfoprice,
    .cartitemquantity,
    .cartitemtotal,
    .cartitemremove {
        font-family: 'Open sans', sans-serif;
    }

    .cartfinalcontainer {
        display: none;
    }
}

@media screen and (max-width:715px) {
    .cartoverlayinfo {
        font-size: 125px;
    }

    .menuitembox {
        margin: 15px 0px;
        width: 60vw;
        height: 85vh;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }

    .menuitemimagepricebox {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        border-right: 0;
        border-bottom: 2px solid #00000059;
        grid-template-rows: repeat(5, 1fr);
    }

    .menuitemimagebox {
        grid-column: 1 / 2;
        grid-row: 1 / 5;
    }

    .menuitempricebox {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

    .menuitemprice {
        font-size: 22px;
    }

    .menuiteminfobox {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
    }

    .menuiteminfoinfo {
        font-size: 14px;
    }
}

@media screen and (max-width:588px) {
    /* HEADER MOBILE QUERIE */
    .headerlogobox {
        grid-column: 2 / 6;
        justify-content: left;
    }

    .navlistitem {
        float: none;
        padding: 0px;
    }
    /* INDEX MOBILE QUERIE */
    .indexmaincontainer {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        // background: none;
    }

    .indexmainspecialpricebox {
        height: 375.2px;
        width: 100%;
    }

    .indexspecialpriceinfoheadline {
        font-size: 36px;
    }

    .indexmainimageshowbox {
        display: none
    }

    .indexmainopentimesbox {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        height: auto;
        border-top: 1px solid #ffc107;
    }

    .indexmainreviewsbox {
        height: 400px;
        width: 100%;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        border-top: 1px solid #ffc107;
    }

    .indexreviewbox {
        max-width: 325px;
    }
    /* MENU ITEM BOX MOBILE QUERIE */
    .menuitembox {
        margin: 15px 0px;
        width: 65vw;
        height: 85vh;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }

    /* CONTACT FILE MOBILE QUERIE */
    .contactmaininformationbox {
        height: auto;
        width: 350px;
    }

    .contactmainmapbox {
        border-top: 1px solid #000000;
    }

    .contactgooglemap {
        width: 350px;
        height: 450px;
    }

    .contactmainopentimesadressbox {
        border-top: 1px solid #000000;
    }

    .contactopentimesadresscontainer {
        width: 350px;
    }

    /* STAFF FILE MOBILE QUERIE */
    .staffmaincontainer {
        justify-content: center;
    }

    /* CART MOBILE QUERIE */
    /*.cartoverlaycontainer {
        display: block;
    }*/

    .cartoverlayinfo {
        font-size: 80px;
        margin-bottom: 25px;
    }

    .cartmaincontainer {
        display: none;
    }

    .cartoverlaynavigationitem {
        float: none;
        padding: 5px 25px;
    }
}

@media screen and (max-width: 450px) {
    .menuitembox {
        width: 90vw;
    }
}

@media screen and (max-width: 370px) {
    .headerlogotext {
        font-size: 42px;
    }

    .navlistitem {
        font-size: 20px;
    }

    /* CART SMALL QUERIE */
    .cartoverlayinfo {
        font-size: 64px;
    }

    .cartoverlaynavigationitem {
        font-size: 20px;
    }

    .menuitembox {
        margin: 15px 0px;
        height: 80vh;
        grid-template-rows: repeat(7, 1fr);
        grid-template-columns: 1fr;
    }

    .menuitemimagepricebox {
        grid-row: 1 / 5;
    }

    .menuitemprice {
        font-size: 18px;
    }

    .menuiteminfobox {
        grid-row: 5 / 8;
    }

    .menuiteminfoname {
        font-size: 28px;
    }

    .menuiteminfoinfo {
        font-size: 12px;
    }

    .menuiteminfoadd {
        font-size: 18px;
        padding: 10px 25px;
    }
}